/* CSS Rules
Syntax: ;
selector {
    property: value;
 }
*/

/* h1{
    color:yellow !important;
} */

/* 1. Universal Selector (lowest) */
/* Change the font of every element in HTML */
* {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
/* The 8 symbol us a universal selector and is used to target all elements. the font family property changes the stlye of the font
the value courier new is used as the primary font and the value monospace is used as a secondary font when a browser is unable to use the primary font.
the value 20px refers to 20 pixels in size. */

/* 2. Type Selector */
body {
    background-color: skyblue;
}

/* the background color property changes the background color of an element */
/* 3. Attribute Selector */
input[required]{
    border-width: 2px;
    border-style: solid;
    border-color: navy;
    width: 90%;
}


h3 + img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}
h2 ~ a, a{
	text-decoration: none;
}
body > section > form > label{
    background-color: azure;
}

#bootcamp-learning-list li{
    color: #075966;
}

html{
    scroll-behavior: smooth;
}
nav{
    background-color: white;
    display: inline-block;
    width: 100%;
}
a:hover{
    background-color: #b4d6de;
}
/* DIV  for the navigation bar*/
nav > div{
    float: right;
}
section{
    height: 100vh;
    text-align: center;
}
h2{
    font-size: 1.5em;
}
ol{
    list-style-type: none;
}
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
    background-color: #cf0053;
    color: white;
    border: 0;
    border-radius: 15px;
}