/* #5 external */
#external-css{
    color: yellow;
}
/* #6 universal selector */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*  #7 type selector */
h1{
    font-size: 5em;
}
/* #8 id selector */
#change-font-size{
    text-transform: uppercase;
}
/* #9 class selector */
.languages{
    background-color: rgb(157, 206, 157);
}
/* #10 Attribute selector */
ol[type="1"] > li{
    border: solid;
    border-color: rgb(187, 238, 221);
    margin: 5px;
}
/* #11 adjacent sibling selector */
h3 + ol{
    list-style-type: square;
}
/* #12 Descendant selector */
section img{
    width: 100px;
    height: 100px;
}
/* #13 generic sibling selector */
ul ~ p{
    text-align: center;
}
/* #14  child selector */
ul > li{
    list-style-type: none;
    letter-spacing: 5px;
}
